[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = ">=7.10.1"
ipdb = "*"
pytest = "*"
hypothesis = "*"
pytype = "*"

[packages]
megaparsy = "*"
bowler = "*"
prompt-toolkit = "*"
typesystem = "*"
toml = "*"
typing-extensions = "*"
regex = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
