[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
ipython = ">=7.10.1"
ipdb = "*"
pytest = "*"
hypothesis = "*"
pytype = {version = "*",markers = "python_version < '3.8'"}

[packages]
megaparsy = "*"
prompt-toolkit = "*"
toml = "*"
regex = "*"
pydantic = "*"
typing-extensions = "*"
# bowler = {file = "https://github.com/anentropic/Bowler/tarball/0.8.0-post2"}
parso = "*"
inject = "*"
# Bowler deps:
attrs = "*"
click = "*"
fissix = "*"
moreorless = ">=0.2.0"
volatile = "*"

[requires]
python_version = "^3.7"

[pipenv]
allow_prereleases = true
